<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success ">
    <div class="w-100 navbar-nav d-flex justify-content-between">
      <div class="navbar-nav d-flex justify-content-between">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
      <!-- <div class="navbar-nav d-flex justify-content-between"> -->
        <%if (!user) {%>
        <a class="nav-item nav-link" href="/urls" onclick="return confirm('Please sign in or register to continue.');">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new" onclick="return confirm('Please sign in or register to continue.');">Create New URL</a></div>
        <%}%>
        <!--Login/Logout-->
        <%if (user) {%>
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a></div>
        <p class="text-white">Signed in as: <%= user.email %></p>
        <form method="POST" action="/logout" class="navbar-nav d-flex justify-content-between">
          <!-- <a class="nav-item nav-link" href="/login">Sign out</a> -->
          <button type="submit" value="logout" class="btn btn-light text-muted">LOGOUT</button>
        </form>
        <%} else {%>
        <form method="GET" action="/login" class="navbar-nav d-flex justify-content-between">
          <a class="nav-item nav-link" href="/login">Sign in</a>
          <p class="nav-item nav-link disabled"> | </p>
        <form method="GET" action="/register" class="navbar-nav d-flex justify-content-between">
          <a class="nav-item nav-link" href="/register">Register</a>
          </form>
        </form>
        <%}%>
    </div>
  </nav>
</header>